<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="users">
    <%= render @users %>
  </tbody>
</table>


<br />

<%= link_to 'New User', new_user_path %>

<br />
<br />

<div id="paginator">
  <%= paginate @users, :remote => true %>
</div>
